@font-face {
  font-family: "vazir";
  src: url("../../Assets/fonts/Vazir.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "vazir", sans-serif;
  overflow-x: hidden;
  font-size: 62.5%;
  @include respond(sm-laptop) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 42.5%;
  }
}
body {
  direction: rtl;
}
